html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.content {
  padding: 30px;
  margin: auto;
  min-height: calc(100vh - 190px);
  max-width: 750px;
}

.nav {
  background: #181818;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer {
  height: 120px;
  background: #383838;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card {
  background: rgba(243, 244, 246, 1);
  padding: 9px 20px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 7px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  flex: 2;
  padding-right: 7px;
}
.thumbnail {
  flex: 1;
}
.date {
  color: #b2b1b9;
  font-weight: bold;
}
.blog-content {
  background: rgba(243, 244, 246, 1);
  padding: 20px;
  border-radius: 7px;
}
.back-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background: black;
  padding: 7px;
  color: white;
  margin-bottom: 2rem;
}
.thumbnail {
  margin: 20px 0px;
}
